html {
	font-size:100%;
	background:#fff;
	color:#000;
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica",sans-serif;
}

body {
	max-width:88.125em /*1410px / 16px*/;
	min-width:20em /*320px / 16px*/;
	margin:0 auto;
	
}

/*LAYOUT*/
#container {
	margin:0 auto;
	width: 92%/*1300px/1410px*/;
	min-width:320px;
}
header {
	width:100%;
	margin:0;
	background:#fff;
	min-width:320px;
}
#content-page {
	margin:200px 0 0;
	width:100%;
}

/*HEADER*/
header .fixed-box {
	padding:24px 0 0;
	height:105px;
	top:0;
	position:fixed;
	border-bottom:1px solid #dad9d9;
	width:92%;
	background:#fff;
}
header h1{
	height:42px;
	background:url(../Img/logo.png) no-repeat top left;
	padding:0;
	width:30%;
	min-width:140px;
	float:left;
}
header h1 span{
	position:absolute;
	top:-9999px;
	left:-9999px;
}

header .social-menu, .on_social .social-menu {
	text-align:right;
	height:32px;
}
header .social-menu{
	float:right;
}
.on_social .social-menu {
	width:100%;
	margin:0;
	text-align:left;
	height:32px;
}

header .social-menu li, .on_social .social-menu li{
	display:block;
	float:left;
	margin:0;
	width:35px;
	height:32px;
}
header .social-menu li a, .on_social  .social-menu li a{
	width:32px;
	height:32px;
	display:inline-block;
	background:url(../Img/icone.png) no-repeat 0 0;
	margin:0;
}

#in  a{
	background-position:0 0;
}
#fb  a{
	background-position:-40px 0;
}
#fl a{
	background-position:-80px 0;
}
#sk a{
	background-position:-119px 0;
}
#ml a {
	background-position:-158px 0;
}
header .social-menu li span, .on_social .social-menu li span{
	position:absolute;
	top:-9999px;
	left:-9999px;
}
header .page-menu {
	clear:both;
	padding:34px 0 0;
}
header .page-menu li {
	display:inline;
	padding:0 25px 0 0;
}
header .page-menu a{
	text-decoration:none;
	color:#000;
	font-size:0.875em/*14px/16px*/;
}
header .page-menu a:hover{
	color:#da0000;
}

/*SECTION GENERIC*/
section.hp {
	clear:both;
}
section.hp h1 {
	border-bottom:1px solid #dad9d9;
	font-size:0.875em /*14/16*/;
	line-height:2.5em/*50/20*/;
	padding:0 0 0 30px;
	margin:0 0 50px;
	background:url(../Img/piuma_small.png) no-repeat center left;
}

/*QUOTES*/
#quotes h1 {
	position:absolute;
	top:-9999px;
	left:-9999px;
}
.quote{
	min-height:500px;
}
.quote .testo {
	font-size:5.25em/*90px/16px*/;
	font-weight:bold;
	
}
.quote .author {
	font-size:1.25em/*20px/16px*/;
	line-height:4.5em/*90/20*/;
	
}

/*GALLERY WORKS/CLIENTS*/

.gallery {
	float:left;
	margin:0 0 70px;
	width:100%;
}
.gallery  li{
	display:block;
	float:left;
	width:24.7% /*318/1300*/;
	padding:0;
	margin:0 0.4% 0.4% 0;
}
.gallery  li.last_row{
	margin-right:0;
}
.gallery  li a{
	margin:0;
	padding:0;
}
.gallery  li img{
	width:100%;
	margin:0 0 -3px;
	padding:0;
}
/*ABOUT*/
.bio{
	width:75%;
	margin:0 0 70px;
	padding:0;
	float:left
}
.cv {
	width:25%;
	margin:0 0 70px;
	padding:0;
	float:left

}
.bio img {
	margin:0;
	padding:0;
	float:left
}
.bio h2, .bio .sub_title, .bio .bio_text{
	padding:0 10% 0 5%;
	margin:0 0 0 317px;
}
.bio h2{
	font-size:5em/*50px/16px*/;
	font-weight:bold;
	
	line-height:1em;
}
.bio .sub_title{
	
	font-size:1.375em/*22px/16px*/;
	line-height:3.6em/*80px/22px*/;
}
.bio .bio_text, .form .abstract{
	
	font-size:0.875em/*14px/16px*/;
	line-height:1.285em/*18px/14px*/;
	color:#7d7d7d;
}
.bio .bio_text p{  
	margin:0 0 18px;
}
.cv h2{
	
	font-size:0.875em/*14px/16px*/;
	line-height:1.285em/*18px/14px*/;
	border-bottom:1px solid #dad9d9;
	padding: 0 0 5px;
	margin:0 0 15px;
}
.cv ul{
	
	font-size:0.875em/*14px/16px*/;
	line-height:1.285em/*18px/14px*/;
	color:#7d7d7d;
	margin:0 0 40px;
}
p.in a{
	width:32px;
	height:32px;
	display:inline-block;
	background:url(../Img/icone.png) no-repeat 0 0;
	margin:0;
}
p.in a span{
	position:absolute;
	top:-9999px;
	left:-9999px;
}
/*Contacts*/
.form{
	width:75%;
	margin:0 0 70px;
	padding:0;
	float:left
}
.form h2 {
	
	font-size:2.375em/*38px/16px*/;
	line-height:1.5em/*60px/38px*/;
}

form.contact_me {
	margin:50px 0 0;
}
form.contact_me  p{
	margin:0 0 12px;
}
.contact_me  input[type="text"], .contact_me textarea {
	border:1px solid #000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	font-size:0.875em/*14px/16px*/;
	line-height:1.285em/*18px/14px*/;	
}
.contact_me  input[type="text"]{
	width:225px; 
	line-height:26px;
	height:26px;
	padding:0 15px;
}
.contact_me  textarea{
	width:65%; 
	height:130px;
	padding:15px;
}
.contact_me  input[type="submit"]{
	border:1px solid #da0000;
	color:#da0000;
	background:#fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	font-weight:bold;
	font-size:0.875em/*14px/16px*/;
	line-height:1.285em/*18px/14px*/;
	width:95px; 
	line-height:28px;
	height:28px;
	text-align:center;
}
.on_social {
	width:25%;
	margin:0 0 70px;
	padding:0;
	float:left

}
.on_social h2{
	
	font-size:0.875em/*14px/16px*/;
	line-height:1.285em/*18px/14px*/;
	border-bottom:1px solid #dad9d9;
	padding: 0 0 5px;
	margin:0 0 15px;
}


/*FOOTER*/

footer {
	color:#7d7d7d;
	border-top:1px solid #dad9d9;
	clear:both;
	padding:10px 0 30px;
	font-size:0.875em /*14/16*/;
}




@media screen and (max-width:700px) {
	
}


@media screen and (max-width:360px) {
	#container,header .fixed-box {
		width: 100%;	
	}
	header .fixed-box {
		width: 96%;	
		padding-right: 2%;
		padding-left: 2%;
	}	
	header h1{
		width:140px;
	}
	header .social-menu {
		width:120px;
	}
	.quote .testo {
		font-size:2.5em;
	}
	.gallery  li{
		width:88% /*318/360*/;
		margin:0 auto 7px;
		text-align:center;
	}
}